include _book_item.pug

.add_book
  h2 Add books you own to your bookshelf
  .search
    input(
      placeholder='search by book title or isbn', v-model='add_book.search_req.query',
      v-on:keyup.enter='add_book__search(add_book.search_req)')
    .serach-icon.flex-center(
      @click='add_book__search(add_book.search_req)')
      i.fa.fa-search

  p.bookshelf-showing(v-show='add_book.search_res.show')
    | showing results for "{{ add_book.search_res.query }}"
    | at page {{ add_book.search_res.pagenum }}
    | of {{ add_book.search_res.pages }}

  .bookshelf(v-show='add_book.search_res.show')
    +book('book in add_book.search_res.books')
      .btn-row
        .btn.btn-add_book(
          v-if='!my_books__is_in_array(book.id)',
          @click='my_books__add(book.id)'
        ) add to bookshelf
        .btn.btn-remove_book(
          v-if='my_books__is_in_array(book.id)'
          @click='my_books__remove(book.id)'
          ) remove from bookshelf

  .flex-center(v-show='add_book.search_res.show')
    .pgs
      .pg.flex-center(
        v-for='page in pagination(add_book.search_res.pagenum, 3, add_book.search_res.pages)',
        :class=`{active: page.active}`
      )
        div(
          v-if='page.start',
          @click='add_book__change_page(page.n)') <
        div(v-if='page.end',
          @click='add_book__change_page(page.n)') >
        div(v-if=`!page.start && !page.end`
          @click='add_book__change_page(page.n)') {{ page.n }}
