header.header
  .header-titlerow.flex-row(v-show=`header.show === '/'`)
    .header-title.flex-center: h1 #booktrade
    .flex-gap
    .header-icon.header-bell.flex-center(
      v-if='user_id !== undefined'
      ): .circle.flex-center
      //- notifications
      i.fa.fa-bell-o
    .header-icon.ellipsis-tog.flex-center(
      :class='{active: header.menu.open}'
      @click='header__elipsis_tog(header.menu)'
      v-if='user_id !== undefined'
      ).flex-center
        .header-avatar.flex-center(
          v-if='false'
          )
          i.fake-avatar.fa.fa-user-circle-o
        img.header-avatar(
          v-if='user_id',
          :src=`'https://twitter.com/'+user_id+'/profile_image'`)
    .header-button-text.flex-center(
      v-if='user_id === undefined'
      )
      a(href='/tw.login') login

  .header-titlerow.flex-row(v-show=`header.show === '/my-bookshelf'`)
    span.bit-horizontal
    .header-icon.flex-center(@click=`route__path('/')`)
      i.fa.fa-chevron-left(style='font-size: 1rem')
    .header-title.flex-center: h2 My Bookshelf


.ellipsis-fullscreen(
  :class='{show: header.menu.open, darkroom: header.menu.open}'
  @mousedown='ellipsis_clickaway($event, header.menu)'
  @touchstart='ellipsis_clickaway($event, header.menu)'
  )
nav.ellipsis-menu(
   :class='{show: header.menu.open}'
  )
  li
    i.fa.fa-refresh
    span.bit-horizontal
    | refresh
  li
    i.fa.fa-cog
    span.bit-horizontal
    | settings
  li
    i.fa.fa-sign-out
    span.bit-horizontal
    | logout
